
#primary_nav_wrap {
    margin-top: 21.9px;
}
#primary_nav_wrap ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
#primary_nav_wrap ul a {
    color: #333;
    display: block;
    font-family: "Segoe UI",Calibri,Verdana;
    font-size: 11px;
    font-weight: 700;
    line-height: 27px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}
#primary_nav_wrap ul li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
#primary_nav_wrap ul li.level1 {
    height: 25px;
    padding: 0 13px 0 14px;
}
#primary_nav_wrap ul li.current-menu-item {
    background: none repeat scroll 0 0 #ddd;
}
#primary_nav_wrap ul li:hover ul li:hover {
    background: none repeat scroll 0 0 red;
}
#primary_nav_wrap ul li:hover {
    background: none repeat scroll 0 0 #c32230;
    border-radius: 0;
}
#primary_nav_wrap ul li:hover a {
    color: white;
}
#primary_nav_wrap ul li:hover ul li a {
    color: black;
}
#primary_nav_wrap ul ul {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid white;
    display: none;
    left: 0;
    margin-top: 2px;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 9999;
    border:1px solid #c4c4c4;
}
#primary_nav_wrap ul ul li {
    float: none;
    width: 200px;
    display:block;
}
#primary_nav_wrap ul ul li a {
    background-image: url("../gif/drop.png");
    background-position: -1px 9px;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}
#primary_nav_wrap ul li.level1:hover {
    border-bottom: 2px solid #c32230;
}
#primary_nav_wrap ul ul li:hover a {
    background-image: url("../gif/drop-select.png");
}
#primary_nav_wrap ul ul li:hover a span {
    color: #c32230;
}
#primary_nav_wrap ul ul li a span {
}
#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}
#primary_nav_wrap ul ul ul {
    left: 100%;
    top: 0;
}
#primary_nav_wrap ul li:hover > ul {
    display: block;
}
